body {
  font-family: fantasy;
  font-size: 16px;
  line-height: 1;
  background-color: #726e75;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #280069;
  border-left: 1px solid rgb(94, 4, 86);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(127, 6, 175);
  border-radius: 0;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(214, 7, 233);;
}

.hour {
  background-color: #12d6e4;
  color: #5dc7f8;
  border-top: 1px dashed #7838ee;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #92079e;
  color: white;
}

.future {
  background-color: #020301;
  color: rgb(104, 255, 74);
}

.saveBtn {
  border-left: 1px solid rgb(91, 245, 19);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #45eb12;
  color: rgb(102, 9, 223);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
